

 * {
  box-sizing: border-box 1;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
     justify-content: space-between;
     background-color: aqua;
    background-image: url('../media/scubadiving.jpg');
  }
  article{
    display:flex;
    width:75%;
    justify-content:space-between;
    overflow:auto;
    flex-wrap:wrap;
    min-width:400px;
  
  }
  article > section{
    flex:1;
    background-color:white;
    opacity:0.9;
    padding:1%;
    min-width:250px;
    border:5px groove salmon;
    border-radius:25px;
    margin-right:1%;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:salmon;
    overflow-x: hidden;
    transition: 0.3s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn{
    position:absolute;
    top: 0%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
h1 {
    text-align:center; 
    font-size:3em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(226, 124, 195);
    text-shadow:1px 1px white;
}
h2 {
  text-align:center; 
  font: size 1em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(226, 124, 195);
  text-shadow:1px 1px white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;} /*decreases padding-top for mobile */
    .sidenav a {font-size: 18px} /*decreases link font-size for mobile */
}
 
  footer{
    margin-top:200px;
}
 

  